In [22]:
import pandas as pd

In [23]:
raw_data = pd.read_csv("../1_datasets/raw_datasets/IHME-GBD_2021_DATA-8d986c7b-1.csv")
clean_gbd_health_outcomes = raw_data.copy()
clean_gbd_health_outcomes.head()

,measure,location,sex,age,cause,rei,metric,year,val,upper,lower
0,DALYs (Disability-Adjusted Life Years),Republic of Indonesia,Both,All ages,Stroke,Ambient particulate matter pollution,Percent,2010,0.097103,0.143219,0.051959
1,DALYs (Disability-Adjusted Life Years),Republic of Indonesia,Both,All ages,Stroke,Ambient particulate matter pollution,Rate,2010,350.447379,522.609830,184.357575
2,DALYs (Disability-Adjusted Life Years),Republic of Indonesia,Both,All ages,Stroke,Ambient particulate matter pollution,Percent,2011,0.098546,0.142963,0.053453
3,DALYs (Disability-Adjusted Life Years),Republic of Indonesia,Both,All ages,Stroke,Ambient particulate matter pollution,Rate,2011,354.805320,512.567182,186.789411
4,DALYs (Disability-Adjusted Life Years),Republic of Indonesia,Both,All ages,Stroke,Ambient particulate matter pollution,Percent,2012,0.100537,0.142063,0.054389

In [24]:
clean_gbd_health_outcomes.columns

Index(['measure', 'location', 'sex', 'age', 'cause', 'rei', 'metric', 'year',
       'val', 'upper', 'lower'],
      dtype='object')

In [25]:
clean_gbd_health_outcomes.shape

(6000, 11)

In [26]:
clean_gbd_health_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   measure   6000 non-null   object
 1   location  6000 non-null   object
 2   sex       6000 non-null   object
 3   age       6000 non-null   object
 4   cause     6000 non-null   object
 5   rei       6000 non-null   object
 6   metric    6000 non-null   object
 7   year      6000 non-null   int64
 8   val       6000 non-null   float64
 9   upper     6000 non-null   float64
 10  lower     6000 non-null   float64
dtypes: float64(3), int64(1), object(7)
memory usage: 515.8+ KB

In [27]:
clean_gbd_health_outcomes.isnull().sum()

measure     0
location    0
sex         0
age         0
cause       0
rei         0
metric      0
year        0
val         0
upper       0
lower       0
dtype: int64

In [28]:
clean_gbd_health_outcomes = clean_gbd_health_outcomes.drop(
    ["sex", "age"], axis=1, errors="ignore"
)
clean_gbd_health_outcomes = clean_gbd_health_outcomes.rename(
    columns={
        "val": "measure Val",
        "location": "Country",
        "rei": "Risk-Exposure-Impact",
        "year": "Year",
    }
)
clean_gbd_health_outcomes.head()

,measure,Country,cause,Risk-Exposure-Impact,metric,Year,measure Val,upper,lower
0,DALYs (Disability-Adjusted Life Years),Republic of Indonesia,Stroke,Ambient particulate matter pollution,Percent,2010,0.097103,0.143219,0.051959
1,DALYs (Disability-Adjusted Life Years),Republic of Indonesia,Stroke,Ambient particulate matter pollution,Rate,2010,350.447379,522.609830,184.357575
2,DALYs (Disability-Adjusted Life Years),Republic of Indonesia,Stroke,Ambient particulate matter pollution,Percent,2011,0.098546,0.142963,0.053453
3,DALYs (Disability-Adjusted Life Years),Republic of Indonesia,Stroke,Ambient particulate matter pollution,Rate,2011,354.805320,512.567182,186.789411
4,DALYs (Disability-Adjusted Life Years),Republic of Indonesia,Stroke,Ambient particulate matter pollution,Percent,2012,0.100537,0.142063,0.054389

In [29]:
country_count = clean_gbd_health_outcomes["Country"].nunique()
print(country_count)

25

In [30]:
value_counts = clean_gbd_health_outcomes["Country"].value_counts()
print(value_counts)

Country
Republic of Indonesia                      240
United States of America                   240
Republic of South Africa                   240
Federal Democratic Republic of Ethiopia    240
Republic of Kenya                          240
Republic of India                          240
People's Republic of Bangladesh            240
Islamic Republic of Afghanistan            240
Arab Republic of Egypt                     240
Federative Republic of Brazil              240
Kingdom of Saudi Arabia                    240
United Mexican States                      240
Republic of Chile                          240
Republic of Fiji                           240
Canada                                     240
Kingdom of Spain                           240
Federal Republic of Germany                240
Republic of Italy                          240
Australasia                                240
Russian Federation                         240
Japan                                      240
Republic of Korea                          240
Romania                                    240
People's Republic of China                 240
Federal Republic of Nigeria                240
Name: count, dtype: int64

In [35]:
clean_gbd_health_outcomes = clean_gbd_health_outcomes.rename(
    columns={"Country": "Country"}
)

country_renames = {
    "Arab Republic of Egypt": "Egypt",
    "Republic of India": "India",
    "Republic of Chile": "Chile",
    "Federal Republic of Nigeria": "Nigeria",
    "Republic of Italy": "Italy",
    "People's Republic of China": "China",
    "Islamic Republic of Afghanistan": "Afghanistan",
    "Federal Republic of Germany": "Germany",
    "Kingdom of Spain": "Spain",
    "Republic of Indonesia": "Indonesia",
    "Kingdom of Saudi Arabia": "Saudi Arabia",
    "People's Republic of Bangladesh": "Bangladesh",
    "Republic of South Africa": "South Africa",
    "Federal Democratic Republic of Ethiopia": "Ethiopia",
    "Republic of Kenya": "Kenya",
    "Federative Republic of Brazil": "Brazil",
    "United Mexican States": "Mexico",
    "Republic of Fiji": "Fiji",
}

clean_gbd_health_outcomes["Country"] = clean_gbd_health_outcomes["Country"].replace(
    country_renames
)

In [40]:
clean_gbd_health_outcomes.reset_index(drop=True)

,measure,Country,cause,Risk-Exposure-Impact,metric,Year,measure Val,upper,lower
0,DALYs (Disability-Adjusted Life Years),Indonesia,Stroke,Ambient particulate matter pollution,Percent,2010,0.097103,0.143219,0.051959
1,DALYs (Disability-Adjusted Life Years),Indonesia,Stroke,Ambient particulate matter pollution,Rate,2010,350.447379,522.609830,184.357575
2,DALYs (Disability-Adjusted Life Years),Indonesia,Stroke,Ambient particulate matter pollution,Percent,2011,0.098546,0.142963,0.053453
3,DALYs (Disability-Adjusted Life Years),Indonesia,Stroke,Ambient particulate matter pollution,Rate,2011,354.805320,512.567182,186.789411
4,DALYs (Disability-Adjusted Life Years),Indonesia,Stroke,Ambient particulate matter pollution,Percent,2012,0.100537,0.142063,0.054389
...,...,...,...,...,...,...,...,...,...
5995,YLLs (Years of Life Lost),Nigeria,Respiratory infections and tuberculosis,Ambient particulate matter pollution,Rate,2017,1081.347777,2110.466579,295.934956
5996,YLLs (Years of Life Lost),Nigeria,Respiratory infections and tuberculosis,Ambient particulate matter pollution,Percent,2018,0.118583,0.221386,0.032399
5997,YLLs (Years of Life Lost),Nigeria,Respiratory infections and tuberculosis,Ambient particulate matter pollution,Rate,2018,913.497551,1804.105985,244.184865
5998,YLLs (Years of Life Lost),Nigeria,Respiratory infections and tuberculosis,Ambient particulate matter pollution,Percent,2019,0.112868,0.221597,0.030099
5999,YLLs (Years of Life Lost),Nigeria,Respiratory infections and tuberculosis,Ambient particulate matter pollution,Rate,2019,797.195874,1659.557038,195.502729

In [41]:
clean_gbd_health_outcomes.to_csv("clean_gbd_health.csv", index=False)